nav{
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 3px 10px 30px #000;
    margin-bottom: 10vh!important;
}
h1{
    font-size: 3.5rem!important;
    font-family: 'Baloo Thambi 2', cursive;

}
small{
    font-size: 20px!important;
}